@model Project_EAD.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/Images/mlogo.png" />
    <title> Social Pedia </title>

    <!-- Bootstrap core CSS -->
    <link href="~/HomePage/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="~/HomePage/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="~/HomePage/css/landing-page.css" rel="stylesheet">
</head>

<body>



    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <div class="module-body" style="background: transparent;">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <form action="/home/ValidateSignIn" method="post">
                                    <input type="text" class="span12"  name = "userName", 
                                        id = "inputName",  placeholder = "User Name"  
                                        style="background: transparent; border: 1px solid rgba(255,255,255,0.6);width: 250px;
	height: 30px;" aria-required="true" />
	                                          <br />
                                                <br />                
                                    <input type="password" class="span12"  name = "password", 
                                        id = "inputPassword",  placeholder = "Password"  
                                        style="background: transparent; border: 1px solid rgba(255,255,255,0.6);width: 250px;
	height: 30px;" aria-required="true" />
                                    <br />
                                    <br />
                                    <input type="submit" style="width: 260px;height: 35px;background: #fff;	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400; " value="Sign In" />
 </form>
                                   @if(ViewBag.error!=null)
                                        {
           
                                            if((!ViewBag.error.Equals("")))
             
                                            {
                                                <div class="row-fluid">
                                                   <div class="alert " role="alert">
                                                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                               @ViewBag.error
                                                       
                                                        </div>
                                                    </div>
                                            }

        
    
                                        }
                                                                
                                </div>
                                
                                                            
                            </div>
                        </div>

                    </div>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">

                        <li><a href="/Home/SignUp" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Sign Up</span></a>
                        </li>
                        <li><a href="/Home/Index" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Home</span></a>
                        </li>
                        <li><a href="/Home/SignIn" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">SignIn</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>

</html>



@*{
    ViewBag.Title = "Social Pedia";
    
   
 }
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
   


    <style>
body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url('@Url.Content("~/Content/Images/bg1.jpg")');
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
</style>

    <script src="js/prefixfree.min.js"></script>
       <link type="text/css" href="~/AdminSide/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/AdminSide/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
       <link type="text/css" href="~/AdminSide/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/AdminSide/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <title>@ViewBag.Title</title>
</head>

<body>
   <div class="span12">
    <div class="row-fluid">


		<div class="grad"></div>
		<div class="header">
			<div>Social<span> Pedia</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
		</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
       </div>
       </div>
</body>

</html>


@*model Project_EAD.Models.User
@{
    Layout = "~/Views/Shared/MainHomeLayout.cshtml";
}
<div class="module module-login span4 offset4" style="opacity:0.8">
    @using (Html.BeginForm("ValidateSignIn","Home",FormMethod.Post,new {@class="form-vertical"}))
    {
   
        <div class="module-head">
            <h3>Sign In</h3>
        </div>
        <div class="module-body">
            <div class="control-group">
                <div class="controls row-fluid">
                   
                    @Html.ValidationSummary(true)
                   
                    
                    @Html.TextBoxFor(m => m.UserName, new { @class = "span12",  name = "userName", id = "inputEmail", placeholder = "Username" })
                    @Html.ValidationMessageFor(m=>m.UserName)
                    
                    @*Html.TextBox("userName", null, new { @class="span12", type="text" ,name="userName" ,id="inputEmail" ,placeholder="Username",required=true})*@
@*  </div>
            </div>
            <div class="control-group">
                <div class="controls row-fluid">
                             @Html.TextBoxFor(m=>m.Password,new { @class="span12", type="password" ,name="password",placeholder="Password"})
                             @Html.ValidationMessageFor(m=>m.Password)

                       @*Html.TextBox("password", null, new { @class="span12", type="password" ,name="password",placeholder="Password" ,required=true })*@
@*</div>
            </div>
        </div>
        <div class="module-foot">
            <div class="control-group">
                <div class="controls clearfix">
                       @Html.TextBox("SignIn", "Sign In", new { @class="btn btn-primary pull-right ", type="submit" })
           
                    <label class="checkbox">
                      
                        @Html.CheckBox("box", new {required=true})
                        Remember me
                    </label>
                </div>
            </div>
        </div>
    }
    <!--form-->
    

        @if(ViewBag.error!=null)
        {
           
            if((!ViewBag.error.Equals("")))
             
            {
                   <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                            @ViewBag.error;
                        </div>
            }

        
    
        }
            
 
</div>*@
